body {
  margin: 0;
  background-color: #f8f8f8;
}

.contain {
  position: relative;
  text-align: center;
  color: rgb(255, 148, 148);
  font-family: 'Kaushan Script', cursive;
  background: rgba(0, 0, 0, 0.5) url('./img/header.jpeg') no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  height: 740px;
}

.nav-link {
  color: #777;
  font-size: 18px;
}

.nav-link:hover:not(.active) {
  color: #000000;
  text-decoration: underline solid red;
  transition: all 0.3s linear;
}

.top-left {
  position: absolute;
  color: #e2b6b6;
  top: 39%;
  left: 12%;
  font-size: 106px;
  text-shadow: 0px 2px 3px black;
  border-radius: 15px;
  font-weight: bold;

}

.centered {
  position: absolute;
  top: 62%;
  left: 56%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  color: #ffffff;
  text-shadow: 0px 2px 3px #000000;
  font-weight: bold;
}

#imgs1 {
  background: url('./img/img1.jpg');
  margin-left: 37%;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-position-x: center;
}

#imgs2 {
  background: url('./img/img2.jpg');
  margin-left: 37%;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#imgs3 {
  background: url("./img/img3.jpg");
  margin-left: 37%;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#d {
  font-size: 70px;
}

#s {
  border-radius: 5px;
  padding: 2px 20px;
  box-shadow: 2px 2px 2px black;
  margin-top: 10px;
}

#s:hover {
  background-color: black;
  color: white;
  transition: .3s;
}

#features {
  margin: 50px 0 70px 0;
}

#features .container {
  width: 90%;
  margin: 0 auto;
}

#features .feature {
  text-align: center;
}

#features .feature .fig-image {
  margin: 0;
}

#features .feature h2 {
  display: inline-block;
  margin: 5px 0 0 0;
  padding-bottom: 7px;
  font-size: 18px;
  font-family: "Lato";
  color: black;
  font-weight: bold;
  border-bottom: 1px solid #ff3333;
}

#features .feature p {
  font-family: "Lato";
  color: black;
}

.fig-image,
.fig-body {
  padding-left: 100px;
  font-size: large;
}

#reviews {
  display: flex;
  background: rgba(0, 0, 0, 0.6) url("./img/swap.jpg") fixed;
  background-size: cover;
  background-position: center;
  height: 500px;
  color: rgb(255, 255, 255);
  font-family: 'Lora', serif;
  font-weight: bold;
  background-blend-mode: saturation;
}

.col-8 {
  padding-top: 110px;
  text-align: justify;
  font-size: 20px;
}

#reviews .col-8 h1 {
  text-shadow: 0px 3px 2px black;
  border-left: 5px solid red;
  padding: 10px;
  font-size: 40px;
}

.col-4 {
  padding-top: 52px;
}

.col-8 button {
  background-color: white;
  color: #000000;
}

.col-8 button:hover {
  background-color: black;
  color: whitesmoke;
  border: 2px solid white
}

span img {
  padding-top: 24px;

  width: 450px;
}

#block {
  display: inline;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#i {
  margin: 30px;
}

.responsive {
  padding-left: 20px;
  float: left;
  width: 24.99999%;
  padding-bottom: 20px;

}

#footer {
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  color: rgb(160, 149, 149);
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

#sk {
  background-color: #ffffff;
  margin-bottom: 0rem;
  height: 300px;
  margin-top: 650px;
}

.testimonials {
  padding: 40px;
  background-color: #f1f1f1;
  color: #000000;
  text-align: center;
  font-family: 'Lora', serif;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0px 20px;
}

.border {
  width: 300px;
  height: 5px;
  background: #000000;
  margin: 15px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 30px;
}

.testimonial {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Lora', serif;

}

.testimonial p {
  text-align: justify;
  font-size: 17px;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: bold;
}

.stars {
  color: gold;
  margin-bottom: 20px;
}

.mainfooter {
  background-color: #000000;
  color: white;
}

footer a {
  color: #777;
  text-decoration: none;
}

footer a:hover {
  color: #00f074;
  text-decoration: underline;
  transition: 0.2s;

}

.social-circle li a,
#u {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);

}

.icoFacebook,
.icoLinkedin,
.m {
  padding-top: 10px;
}

.icoFacebook:hover,
.icoLinkedin:hover,
#u:hover {
  background-color: #00f074;
  color: #000000;
}

.social-circle li a:hover i {
  color: black;
  transition: all 0.4s;
}

.social-network {
  display: flex;

}

ul {
  list-style-type: none;
  padding-left: 0px;
}

#ui a {
  color: #000000;

}

ul li {
  padding: 5px;
}


@media screen and (max-width:960px) {
  .col {
    flex: 100%;
    max-width: 80%;

  }
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #features .container {

    display: flex;
    width: 81%;
    margin: 0 auto;
  }
}